[data-glow] {
  border-radius: calc(var(--radius, 14) * 1px);
  box-shadow: 0 1rem 2rem -1rem black;
  padding: 0;
  display: block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
}

.glow-card-aspect {
  aspect-ratio: 3 / 4;
}

[data-glow]::before,
[data-glow]::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: calc(var(--border-size, 3px) * -1);
  border: var(--border-size, 3px) solid transparent;
  border-radius: calc(var(--radius, 14) * 1px);
  background-attachment: fixed;
  background-size: calc(100% + (2 * var(--border-size, 3px))) calc(100% + (2 * var(--border-size, 3px)));
  background-repeat: no-repeat;
  background-position: 50% 50%;
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
  -webkit-mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
  mask-clip: padding-box, border-box;
  -webkit-mask-clip: padding-box, border-box;
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

[data-glow]::before {
  background-image: radial-gradient(
    calc(var(--spotlight-size, 150px) * 0.75) calc(var(--spotlight-size, 150px) * 0.75) at
    calc(var(--x, 0) * 1px)
    calc(var(--y, 0) * 1px),
    hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 50) * 1%) / var(--border-spot-opacity, 1)), transparent 100%
  );
  filter: brightness(2);
}

[data-glow]::after {
  background-image: radial-gradient(
    calc(var(--spotlight-size, 150px) * 0.5) calc(var(--spotlight-size, 150px) * 0.5) at
    calc(var(--x, 0) * 1px)
    calc(var(--y, 0) * 1px),
    hsl(0 100% 100% / var(--border-light-opacity, 1)), transparent 100%
  );
}

[data-glow] [data-glow] {
  position: absolute;
  inset: 0;
  will-change: filter;
  opacity: var(--outer, 1);
  border-radius: calc(var(--radius, 14) * 1px);
  border-width: calc(var(--border-size, 3px) * 20);
  filter: blur(calc(var(--border-size, 3px) * 10));
  background: none;
  pointer-events: none;
  border: none;
}

[data-glow] > [data-glow]::before {
  inset: -10px;
  border-width: 10px;
}

.glow-card-inner {
  position: absolute;
  inset: 0;
  will-change: filter;
  opacity: var(--outer, 1);
  border-radius: calc(var(--radius, 14) * 1px);
  border-width: calc(var(--border-size, 3px) * 20);
  filter: blur(calc(var(--border-size, 3px) * 10));
  background: none;
  pointer-events: none;
  border: none;
  z-index: 0;
}

.glow-card-inner::before {
  inset: -10px;
  border-width: 10px;
}

.glow-card > *:not(.glow-card-inner) {
  position: relative;
  z-index: 1;
}

